<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/estilo_mobile.css">
    <title></title>
    <link rel="stylesheet" href="">
</head>
<body>

    <div class="corpo">
        <div class="topo_logo">
            <img src="static/medias/logo.png" alt="">
        </div>
        <div class="formulario_design">
            {% include 'formulario.html' %}
        </div>
    </div>
    
</body>
</html>
